@font-face {
  font-family: 'futura-lt';
  src: url('../fonts/Futura LT Light.ttf');
}

@font-face {
  font-family: 'futura-lt';
  src: url('../fonts/Futura LT.ttf');
  font-weight: bold;
}

b {
  font-weight: bold;
}

a {
  color: #00bfff;
  text-decoration: none;
}

body {
  background: url('../images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: futura-lt, sans-serif;
  color: white;
  background-color: #1a1814;
}

h1 {
  font-size: 50px;
  line-height: 65px;
  text-align: center;
}

img.bordered {
  border: 5px groove #ba8258;
  background-color #ff0;
}

div.column {
  width: 50%;
  margin: 0 auto;
}

table#images {
  width: 865px; /* 420 + 5 + 5 + 420 */
  margin: 0 auto;
  margin-top: 20px;
  border-collapse: separate;
  border-spacing: 5px 0;
}

td#images-td-left {
  width: 410px;
  padding: 0 5px 0 10px;
}

td#images-td-right {
  width: 410px;
  padding: 0 10px 0 5px;
}

.tac { /* text align center */
  text-align: center;
}

.top-sm {
  margin-top: 7px !important;
}

.right-sm {
  margin-right: 7px !important;
}

.top-10 {
  margin-top: 10px !important;
}

.top-20 {
  margin-top: 20px !important;
}

.go-space {
  margin-bottom: 10px;
}

#title {
  width: 600px;
  height: 211px;
  object-fit: cover;
  margin-top: 6px;
  margin: 0 auto;
  display: block;
}

#instructions {
  line-height: 1.35em;
}

#animal-selection {
  padding: 1px;
}

#closing-space {
  margin-bottom: 50px;
}

#upload {
  visibility: hidden;
  display: none;
}

#animal-selection img {
  opacity: 1.0;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.15s ease-in-out;
}

#animal-selection img:hover {
  opacity: 0.6;
}

#go-label {
  font-size: 1.1em;
  line-height: 1.6em;
}
