@font-face {
  font-family: 'futura-lt';
  src: url('../fonts/Futura LT Light.ttf');
}

@font-face {
  font-family: 'futura-lt';
  src: url('../fonts/Futura LT.ttf');
  font-weight: bold;
}

b {
  font-weight: bold;
}

a {
  color: #00bfff;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  background: url('../images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: futura-lt, sans-serif;
  color: white;
  background-color: #1a1814;
}

h1 {
  font-size: 50px;
  line-height: 65px;
  text-align: center;
}

img.bordered {
  border: 5px groove #ba8258;
}

div.column {
  width: 50%;
  margin: 0 auto;
}

table#images {
  width: 865px; /* 420 + 5 + 5 + 420 */
  margin: 0 auto;
  margin-top: 20px;
  border-collapse: separate;
  border-spacing: 5px 0;
}

td#images-td-left {
  width: 410px;
  padding: 0 5px 0 10px;
}

td#images-td-right {
  width: 410px;
  padding: 0 10px 0 5px;
  vertical-align: -webkit-baseline-middle;
  vertical-align: middle;
}

.tac { /* text align center */
  text-align: center;
}

.top-sm {
  margin-top: 7px !important;
}

.right-sm {
  margin-right: 7px !important;
}

.top-10 {
  margin-top: 10px !important;
}

.top-20 {
  margin-top: 20px !important;
}

.go-space {
  margin-bottom: 10px;
}

.animal-active {
  opacity: 0.2 !important;
}

.cropper-container {
  border: 5px groove #ba8258;
}

.marker {
  display: none;
  position: absolute;
  width: 10px;
  height: 10px;
}

.orange {
  background: rgb(223, 117, 20);
}

.gold {
  background: #ffde00;
}

#title {
  width: 600px;
  height: 211px;
  object-fit: cover;
  margin-top: 6px;
  margin: 0 auto;
  display: block;
}

#instructions {
  line-height: 1.35em;
}

#animal-selection {
  padding: 1px;
}

#closing-space {
  margin-bottom: 50px;
}

#upload {
  visibility: hidden;
  display: none;
}

#confirm-crop, #change-image {
  display: none;
}

#animal-selection img {
  opacity: 1.0;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.15s ease-in-out;
}

#animal-selection img:hover {
  opacity: 0.6;
}

#go-label {
  font-size: 1.1em;
  line-height: 1.6em;
}

#canvas-from, #canvas-to, #camera {
  display: none;
}

#canvas-out {
  display: block;
  margin: 0 auto;
}

#modal-text-wrapper {
  text-align: center;
  width: 100%;
  margin-top: 10px;
}

#output-modal {
  border-radius: 3px;
  background-color: #1a1814;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
  padding: 24px;
  position: relative;
  display: none;
}

#modal-close {
  color: #ffffff;
}

#loader {
  border: 4px solid #e6e6e6;
  border-radius: 50%;
  border-top: 4px solid #0078e7;
  border-bottom: 4px solid #0078e7;
  width: 27px;
  height: 27px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  display: none;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
